* {
    margin: 0;
    padding: 0;
}

body {    
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

header {    
    width: 100%;
}

nav {
    display: flex;
    padding: 0 6%;   
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;    
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-block-end: 1em;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative; 
    width: 15%; 
    text-align: center;  
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.after-head {
    padding: 2% 6%;
    text-align: left;
}

.form {
    display: flex;
}

.form div {
    width: 30px;    
    background-color: #F2F2F2;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form div i {
    margin: 0 auto;
    padding: 3px 4px;    
}

.form input {
    border: 1px solid #F2F2F2;   
    font-size: 16px;
}

.form label {
    width: 50px;
    background-color: #0065FC;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;

}

#search-mob {
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 0.33rem;
    border-bottom-right-radius: 0.33rem;
    display: none;
    position: relative;
    left: -0.33rem;
}


h6 {
    padding: 0.7rem 0 1.2rem 0;
    font: 100;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    font: 300;
    padding: 1rem 0;    
}

.filters button {
    height: 2rem;
    margin: 0 1rem;
    padding: 0px 1rem;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 0.8rem;
}

.filters button i {
    height: 2rem;
    width: 2rem;
    position: relative;
    left: -10px;
    top: -2px;
    color: #0065FC;
    
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
}

.filters div {
    margin: 0 1rem 0 0;
    padding: 3px 5px 3px 0;
}

.info {
    display: flex;
}

.info i {
    border: 1px solid #F2F2F2;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    color: #0065FC;
    font-size: 0.5rem;
    text-align: center;
}
.info p {
    font-size: 0.7rem;
    padding: 0 0 0 0.6rem;
}

.main-hotels {
    display: grid;    
    text-align: start;
    padding: 2% 6%;
    gap: 1rem;
}

#accomodation-block {
    grid-area: a;
}

#popular-block {
    grid-area: p;
}

.main-hotels div {
    background-color: #F2F2F2;
    border-radius: 1em;
}

.main-hotels div div i {
    display: inline-block;
    
}

.holels-accomodation {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-content: space-around;
    padding: 0.5rem;
}

.title-block {
    padding: 1.5rem 0 1rem 2rem;
    font-size: 1.5rem;
}

.hotel-accomodation {
    width: 28%;
    height: 100%;
    background-color: white !important;
    margin: 0.5rem;
    padding: 0.5rem;
}

.hotel-accomodation img {
    aspect-ratio: 2/1;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;

}

.hotel-name {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.night-price {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.stars {
    display: flex;
    background-color: white !important;
    margin-top: 0.5rem;
    color: #0065FC;
}

.stars i {
    height: 0.3rem;
}

#show-more {
    padding: 1rem 0 2rem 2rem;
    font-size: 1.2rem;
}

/* tablet version */
@media all and (min-width: 992px) {
    .nav-links ul li::before {
            content: "";
            width: 0%;
            height: 2px;
            background: #0065FC;
            display: block;
            margin: auto;
            margin-bottom: 8px;
            transition: o.5s;
        }
    
        .nav-links ul li:hover::before {
            width: 100%;
        }
        .main-hotels {
                    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
                    grid-template-areas:
                        "a a p"
                        "a a p"
                    ;
                }

}

/* tablet version */
@media all and (min-width: 768px) and (max-width: 991px) {
    .nav-links ul li::before {
            content: "";
            width: 0%;
            height: 2px;
            background: #0065FC;
            display: block;
            margin: auto;
            margin-bottom: 8px;
            transition: o.5s;
        }
    
    .nav-links ul li:hover::before {
            width: 100%;
        }
    .main-hotels {
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
            grid-template-areas:
                    "a a p"
                    "a a p"
                ;
    }
}

/* mobile version */
@media all and (max-width: 767px) {
    nav {
        flex-direction: column;
        padding: 0;
    }

    .nav-links {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .nav-links ul li {
        width: 50%;
    }


    .nav-links ul li::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #0065FC;
            display: block;
            margin: auto;
            margin-bottom: 8px;
            transition: o.5s;
        }
    
    .nav-links ul li:hover::after {
            width: 100%;
        }

    #search-mob {
        display: inline-block;
    }

    .form label {
        display: none;
    }

    .hotel-accomodation {
            width: 85%;
    }
        .main-hotels {            
            grid-template: 1fr / 2fr 1fr;
        }
    .main-hotels {
            grid-template: repeat(6, 1fr) / 1fr;
            grid-template-areas:
                "p"
                "p"
                "a"
                "a"
                "a"
                "a"
            ;
    }
        #accomodation-block {
            padding: 0;
            background-color: white;
        }
    
        #popular-block {
            padding: 0;
            width: 100%;

        }
        .main-hotels {
            padding: 2% 0;
            background-color: white;
        }
        .holels-accomodation {
            padding: 0;            
        }
        .hotel-accomodation img {
            aspect-ratio: 2.5/1;
        }
}

