* {
    margin: 0;
    padding: 0;
}

body {    
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
img {
    width: 100%;
}
.link-without-effect {
    color: black;
    text-decoration: none;
}

/* HEADER BLOCK */
header {    
    width: 100%;
}

nav {
    display: flex;
    padding: 0 3.5%;   
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;  
    margin-top: 1.5rem;  
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-block-end: 1em;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0;   
    position: relative; 
    width: auto; 
    text-align: center;
    margin: 0 1rem;  
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0 1rem;
}

#find-a-place {
    font-size: 1.5rem;
}

.after-head {
    padding: 2% 3.5%;
    text-align: left;
}

#downtown-p {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0 1rem 0;
}

.form {
    display: flex;
    margin: 0 0 20px 0;
}

.form div {      
    background-color: #F2F2F2;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form div i {
    margin: 0 auto;  
    border-radius: 25px;
    padding: 15px;    
}

.form input {
    border: 1px solid #F2F2F2;   
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1rem 0 1rem;  
}

.form input::placeholder {
    color: #000000;
}

.form label {
    
    background-color: #0065FC;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 14px;
}

#search-mob {
    color: white;
    background-color: #0065FC;    
    border-radius: 18px;
    display: none;
    position: relative;
    left: -0.8rem;
}

.filtersContainer {
    display: flex;
    width: 100%;
    padding: 0px 10px;
    font-weight: bold;    
}

#filters-text {
    margin: 10px 10px 10px 0px;
}

.filterButtons {
    padding: 0px 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.filterButton {
    border-style: solid;
    border-left-style: none;
    border-radius: 25px;
    border-color: #f2f2f2;
    background-color: white;
    padding: 1px 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.filterButton i {
    border-style: none;
    border-radius: 25px;
    padding: 17px;
    color: #0065fc;
    background-color: #deebff;
    margin: -3px 0px;
    position: relative;
    right: 15px;
}

.filterButton:hover {
    background-color: #deebff;
}

.info {
    display: flex;
    margin-top: 2rem;
}

.info i {
    border: 2px solid #F2F2F2;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    color: #0065FC;
    font-size: 0.7rem;
    text-align: center;
}
.info p {
    width: 35%;
    font-size: 1rem;
    padding: 0 0 0 0.6rem;
}

/* ACCOMODATION AND POPULAR */

#fa-regular-star {
    color: #c9c9c9;    
}

.main-hotels {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 1rem;
}

#accomodation-block {    
    flex: 2 1 200px;
    margin: 1rem;
}

#popular-block {
    flex: 1 1 100px;
    margin: 1rem;
}

.main-hotels div div i {
    display: inline-block;    
}

.holels-accomodation {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-content: space-between;
    padding: 1rem;
}

.title-block {
    padding: 2rem 0 0rem 2rem;
    font-size: 1.8rem;
}

.hotel-accomodation {
    width: 28%;
    height: auto;
    background-color: white !important;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.hotel-accomodation img {
    aspect-ratio: 2/1;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

.hotel-name {
    font-size: 1rem;
    padding: 0.5rem 0;
}

.night-price {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.stars {
    display: flex;
    background-color: white !important;
    margin-top: 0.5rem;
    color: #0065FC;
}

.stars i {
    height: 0.3rem;
}

#show-more {
    padding: 0rem 2rem 2rem 2rem;
    font-size: 1.2rem;
}

#most-pop-head {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
}

.holels-popular {
    display: flex;
    flex-direction: column;        
    justify-content: space-between;
    align-content: space-between;
    padding: 1rem;
    gap: 1rem;
}


.hotel-popular {
    display: grid;
    grid-template-columns: 25fr 40fr;
    max-width: 88%;    
    background-color: white !important;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.hotel-popular img {
    aspect-ratio: 250/230;
    max-height: 100%;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    object-fit: cover;
}

.text-pop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.hotel-name-pop {
    font-size: 1rem;    
}

.night-price-pop {
    font-size: 0.9rem;    
}

/* ACTIVITIES BLOCK */
.title-block {
    text-align: left;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 100px;    
}

#activities-img1, #activities-img4 {
    aspect-ratio: 600/770;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
}

#activities-img2 {
    aspect-ratio: 600/360;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;

}
#activities-img3 {
    aspect-ratio: 600/220;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;

}
#activities-img5 {
    aspect-ratio: 600/280;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;

}
#activities-img6 {
    aspect-ratio: 600/310;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;

}

.activities-name {
    padding: 0.75rem;
    text-align: left;
}
.post-block {   
    border-radius: 1em;    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* FOOTER */
.footer-with-menu {
    display: flex;
    justify-content: space-around;
    text-align: left;
    background-color: #F2F2F2;
    padding: 2rem;   
    gap: 2rem; 
}

.footer-bloks {
    width: 30%;
}

.footer-with-menu div a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
.footer-title {
    padding-bottom: 1rem;
}
.footer-list {
    padding-bottom: 0.8rem;
}



/* monitor version */
@media all and (min-width: 992px) {
    .nav-links ul li::before {
        content: "";
        width: 0%;
        height: 2px;
        background: #0065FC;
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        transition: 0.5s;
    }
    
    .nav-links ul li:hover::before {
        width: 100%;
    }
    .nav-links ul li:hover a{
        color: #0065FC;
        font-weight: 500;

    }
    .hotel-accomodation:hover {
        transform: scale(1.1);
    }
   .hotel-popular:hover {
       transform: scale(1.1);
   }
    
    #accomodation-block,
    #popular-block {
        background-color: #F2F2F2;
        border-radius: 1em;
    }
    .post-block:hover {
        transform: scale(1.1);
    }

}

/* tablet version */
@media all and (min-width: 768px) and (max-width: 991px) {
    .nav-links ul li::before {
        content: "";
        width: 0%;
        height: 2px;
        background: #0065FC;
        display: block;
        margin: auto;
        margin-bottom: 2rem;
        transition: 0.5s;
    }
    
    .nav-links ul li:hover::before {
        width: 100%;
    }
    .nav-links ul li:hover a {
        color: #0065FC;
        font-weight: 500;
    }
    .hotel-accomodation:hover {
        transform: scale(1.1);
    }

    #most-pop-head, .title-block { 
        padding: 1.5rem 1rem 0 1rem;
        font-size: 1.2em;
    }
    #most-pop-text {
        font-size: 1.2em;
    }

    .hotel-popular:hover {
       transform: scale(1.1);
    }
    .holels-popular {
        padding: 0;
        gap: 0.5rem;
        padding-top: 0.8rem;
    }

    .hotel-popular img {
        aspect-ratio: 2/3;
        max-height: 100%;
        max-width: 100%;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        object-fit: cover;
    }
    #accomodation-block,
    #popular-block {
        background-color: #F2F2F2;
        border-radius: 1em;
    }
    .column {   
        justify-content: flex-start;
        row-gap: 1rem;
    }
    .post-block:hover {
        transform: scale(1.1);
    }
}

/* mobile version */
@media all and (max-width: 767px) {
    nav {
        flex-direction: column;
        padding: 0;
    }

    .nav-links {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
    }
    .nav-links ul {
        display: flex;
        width: 100%;
    }
    
    .nav-links ul li {
        width: 50%;
        margin: 0;
    }

    .nav-links ul li::after {
        content: "";
        width: 100%;
        height: 3px;
        background: #F2F2F2;
        display: block;
        margin: auto;
        margin-bottom: 8px;
        margin-top: 8px;
        transition: 0.5s;
    }
    
    .nav-links ul li:hover::after {
        background: #0065FC;        
    }
    .nav-links ul li:hover a {
        color: #0065FC;
        font-weight: 500;
    }

    #search-mob {
        display: inline-block;
    }

    .form label {
        display: none;
    }
    .form input {            
        padding: 0 4.5rem 0 1rem;
    }

    .filtersContainer {
        flex-direction: column;
        padding: 0px;
    }
    .filterButtons {
        padding: 0px;
        margin: 5px 5px 5px 0px;
        column-gap: 1.5rem;
    }
    .filterButton {
        margin: 5px 5px 5px 0px;
    }

    .filterButtons button:nth-child(1) {
        order: 1;
    }
    .filterButtons button:nth-child(2) {
        order: 3;
    }
    .filterButtons button:nth-child(3) {
        order: 2;
        padding-right: 2rem;
    }
    .filterButtons button:nth-child(4) {
        order: 4;
        padding-right: 3.5rem;
    }
    .info p {
        width: 80%;
    }
    
    #most-pop-head {
        font-size: 1.5rem;
    }
    .title-block {
        font-size: 1.5rem;
    }
    .hotel-accomodation {
        width: 85%;
    }
    .holels-accomodation, .holels-popular {
        padding: 0;  
        margin: 1.5rem 0;   
        gap: 0;       
    }

    .hotel-accomodation img {
        aspect-ratio: 2.5/1;
    }
        
    .main-hotels {        
        flex-direction: column-reverse;
        padding: 2% 0;
        background-color: white;
        margin-left: 0;
    }
    #accomodation-block {
        padding: 0;
        background-color: white;
        margin: 0;
    }
    #show-more {
        padding-bottom: 1rem;
    }
        
    #popular-block {
        background-color: #F2F2F2;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    .footer-with-menu {
        flex-direction: column;
    }
    .footer-bloks {
        width: 100%;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        margin: 2rem;
    }
             
    #activities-img1, #activities-img2, #activities-img3, #activities-img4, #activities-img5, #activities-img6 {
        aspect-ratio: 2.5/1;            
    }
    #block2, #block5 {
        margin-bottom: 1rem;
    }   
}

